body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: PT Sans Narrow, sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: normal;
  font-family: PT Sans Narrow, sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  font-family: PT Sans Narrow, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;
  outline: 1px solid crimson;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid green;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation>ul>li{
  display: inline;
}

.user-block {
  float: right;
  width: 140px;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
}

.footer-copyright {
  float: right;
  width: 180px;
}

.breadcrumbs>li {
  display: inline;
}

.catalog-left-pannel {
  outline: 1px solid blueviolet;
  float: left;
  width: 220px;
}

.catalog-right-pannel {
  outline: 1px solid cadetblue;
  float: right;
  width: 700px;
}

.catalog-items {
  font-size: 0px;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
  font-size: 14px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0px;
}

.page-navigator {
  clear: both;
}

.shop-navigator {
  outline: 1px solid orange;
  margin-bottom: 60px;
}

.item-picture {
  outline: 1px solid deepskyblue;
  float: left;
  width: 460px;
}

.item-text {
  outline: 1px solid hotpink;
  float: right;
  width: 390px;
}

.item-text>section>div {
  outline: 1px solid hotpink;
  margin-bottom: 33px;
  font-size: 24px;
  line-height: 30px;
}

.filter>h2 {
  margin-bottom: 35px;
}

.producer {
  margin-bottom: 55px;
}

.goods-group {
  margin-bottom: 50px;
}

article {
  outline: 1px solid darkgray;
  margin-bottom: 20px;
}

.catalog-item-picture>img {
  width: 220px;
  height: 165px;
  margin-bottom: 15px;
}

.catalog-price-block {
  margin-left: 16px;
  font-size: 0px;
}

.buy-item {
  margin-bottom: 65px;
  font-size: 0px;
}

.buy-item>a {
  font-size: 14px;
}

.catalog-price-block>a {
  font-size: 14px;
}

.price {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 110px;
  text-align: center;
  background: #e5e5e5;
  font-size: 14px;
  line-height: 18px;
}

.add-to-cart {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 78px;
  text-align: center;
  background: #000000;
  color: #ffffff
  font-size: 14px;
  line-height: 18px;
}

.catalog-item-name {
  margin-bottom: 15px;
  margin-left: 16px;
}

.catalog-item-name>h2 {
  font-size: 14px;
  line-height: 18px;
}

.page-navigator {
  margin: 0;
}

.page-navigator>ul>li {
  display: inline;
}

.page-navigator a {
  display: inline-block;
  width: 43px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background: #000000;
  font-size: 14px;
  line-height: 18px;
}

.page-navigator a.active-page {
  display: inline-block;
  width: 43px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

ul {
  list-style: none;
}

.additional-picture {
  display: inline-block;
}

.item-status {
  outline: 1px solid forestgreen;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 33px;
}

.availability {
  float: left;
}

.item-vendor-code {
  float: right;
}

.item-description {
  clear: both;
  outline: 1px solid seagreen;
  margin-bottom: 43px;
  font-size: 14px;
  line-height: 24px;
}


