body {
  min-width: 960px;
  font-size: 14px;
  font-weight: 700;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
}

body.index{
  color: #ffffff;
  background: #000000 url("../img/index-tint.png") no-repeat center top;
}

body.catalog{
  color: #000000;
  background: #000000 url("../img/catalog-bg.png") repeat center top;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  padding-top: 0px;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  /*outline: 1px solid green;*/
}

.main-navigation {
  position: relative;
  float: left;
  width: 780px;
}

.main-navigation a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-navigation a:hover {
  background: #242424;
}

.main-navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li{
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}
li .active::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 56px;
  height: 4px;
  background: #ffffff;
}

.link-to-main {
  height: 20px;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -188px -10px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  color: #000000;
  background: url("../img/index-content-shadow.png") no-repeat center,
  #f8f5f2 url("../img/pattern-white.jpg");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/pattern-black.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url("../img/sprite.png") no-repeat center;
  transition:
    background-position 0.5s,
    background-color 0.5s;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  /*width: 25px;*/
  /*height: 16px;*/
  background-position: -217px 3px;
}

.social-btn-fb {
  /*width: 12px;*/
  /*height: 22px;*/
  background-position: -27px 0px;
}

.social-btn-inst {
  /*width: 21px;*/
  /*height: 21px;*/
  background-position: -95px 1px;
}

.social-btn-vk:hover {
  background-position: -262px 3px;
}

.social-btn-fb:hover {
  background-position: -59px 0px;
}

.social-btn-inst:hover {
  background-position: -136px 1px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.catalog-left-pannel {
  /*outline: 1px solid blueviolet;*/
  float: left;
  width: 220px;
}

.catalog-right-pannel {
  /*outline: 1px solid cadetblue;*/
  float: right;
  width: 700px;
}

.catalog-items {
  font-size: 0px;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
  font-size: 14px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0px;
}

.page-navigator {
  clear: both;
}

.shop-navigator {
  /*outline: 1px solid orange;*/
  width: 940px;
  margin-bottom: 60px;
}

.shop-navigator ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.shop-navigator li {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
  padding-right: 40px;
}

.breadcrumbs {
  font-weight: 700;
}

.breadcrumbs-item a {
  display: block;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-item a:hover {
  color: #663d15;
}

.breadcrumbs-item:last-child {
  color: #aba9a7;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  top: 8px;
  display: block;
  width: 8px;
  height: 8px;
  margin-left: -10px;
  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs-item:last-child::after {
  width: 0px;
  height: 0px;
}

.item-picture {
  position: relative;
  /*outline: 1px solid deepskyblue;*/
  float: left;
  width: 460px;
}

.item-picture li {
  display: inline-block;
  vertical-align: top;
}

.small-picture-block  {
  float: left;
  list-style: none;
  margin: 0px;
}

.additional-picture {
  margin-right: 17px;
  width: 140px;
  height: 149px;
  box-shadow: 0 0 20px 0 rgba(0, 1, 1, 0.2);
}

.additional-picture img {
  width: 140px;
  height: 149px;
}

.additional-picture:last-child {
  margin-right: 0px;
}

.small-picture-block ul {
  padding: 0px;
}

.item-main-pic {
  margin: 0px;
  width: 460px;
  height: 498px;
  box-shadow: 0 0 20px 0 rgba(0, 1, 1, 0.2);
  margin-bottom: 20px;
}

.item-main-pic img {
  width: 460px;
  height: 498px;
}

.item-text {
  /*outline: 1px solid hotpink;*/
  float: right;
  width: 390px;
}

.item-text>section>div {
  /*outline: 1px solid hotpink;*/
  margin-bottom: 33px;
  font-size: 24px;
  line-height: 30px;
}

.filter>h2 {
  margin-bottom: 35px;
}

.filter li:hover {
  color: #663d15;
}

.producer {
  margin-bottom: 55px;
}

.producer ul {
  padding: 0;
}

.producer li {
  margin: 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  background-color: #f9f6f3;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 4px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #f9f6f3;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 6px;
  left: 6px;
  background: #000000;
  border: 2px solid #000000;
  border-radius: 4px;
}

.goods-group {
  margin-bottom: 50px;
}

.goods-group ul {
  padding: 0;
}

.goods-group li {
  margin: 0;
}

.show-btn {
  font-size: 13px;
  line-height: 18px;
}

article {
  /*outline: 1px solid darkgray;*/
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 1, 1, 0.2);
  padding-bottom: 16px;
}

.catalog-item-name a {
  text-decoration: none;
  color: #000000;
}

.catalog-item-name a .product-category{
  text-transform: none;
}

.catalog-item-picture>img {
  width: 220px;
  height: 165px;
  margin-bottom: 15px;
}

.catalog-price-block {
  margin-left: 16px;
  font-size: 0px;
}

.buy-item {
  margin-bottom: 65px;
  font-size: 0px;
}

.buy-item a {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}

.buy-item a:hover {
  background: #663d15;
}

.item-consist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-consist li {
  padding-left: 20px;
  position: relative;
}

.item-consist-list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 11px;
  top: 4px;
  display: block;
  width: 8px;
  height: 8px;
  margin-left: -10px;
  background-color: #000000;
  transform: rotate(45deg);
}

.catalog-price-block>a {
  font-size: 14px;
}

.price {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 13px;
  width: 110px;
  text-align: center;
  background: #e5e5e5;
  font-size: 14px;
  line-height: 18px;
}

.add-to-cart {
   display: inline-block;
   padding-top: 12px;
   padding-bottom: 13px;
   width: 78px;
   text-align: center;
   background: #000000;
   color: #ffffff;
   font-size: 14px;
   line-height: 18px;
   text-decoration: none;
 }

.add-to-cart:hover {
  background: #663d15;
}

.catalog-item-name {
  margin-bottom: 15px;
  margin-left: 16px;
}

.catalog-item-name>h2 {
  font-size: 14px;
  line-height: 18px;
}

.page-navigator {
  margin: 0;
}

.page-navigator ul {
  padding: 0;
}

.page-navigator li {
  display: inline;
  margin-left: 0;
  margin-right: 7px;
}

.page-navigator a {
  display: inline-block;
  width: 43px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background: #000000;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.page-navigator a:hover{
  background: #663d15;
}

.page-navigator a.active-page {
  display: inline-block;
  width: 43px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background: #ffffff;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

ul {
  list-style: none;
}

.additional-picture {
  display: inline-block;
}

.item-status {
  /*outline: 1px solid forestgreen;*/
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 33px;
}

.availability {
  float: left;
}

.item-vendor-code {
  float: right;
  color: #aba9a7;
  margin-right: 0;
}

.item-description {
  clear: both;
  /*outline: 1px solid seagreen;*/
  margin-bottom: 43px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}


